#showcase

.product-list
    padding: 50px 30px
    display: flex
    flex-direction: column
    gap: 80px
    .product
        align-items: center
        display: flex
        flex-direction: column
        gap: 20px
    p, h1
        color: var(--white)
    p
        font-size: 0.9rem
        text-align: center
        
    h1
        font-size: 2rem
        font-weight: bold
        text-align: left !important
    img
        width: 80%

